#mainContainerSN {
  display: flex;
  flex-direction: row;
}
#childContainer1SN {
  display: flex;
  flex-direction: row;
}
#childContainer1SN img:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(5px);
}
