#mainContainerHome {
  background-color: black;
  margin-top: -20px;
  height: 100vh;
}
#cardContainer {
  background-color: #00000000;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  height: 18rem;
  width: 100%;
}
