#navbarMain {
  background-color: #24447f;
  height: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}
#navbarRight {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: row;
}
#RightChild1 {
  display: flex;
  flex-direction: row;
  border-style: none;
  border-right-style: solid;
  border-right-color: gray;
  height: 20px;
  padding: 10px;
  border-right-width: 1px;
  transition: all 1s ease;
}
#RightChild1 p {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
